"
<div id='comment'>
  <div class='row'>
    <div class='col-sm-8'>" + data[i].comment + "</div>
    <div class='col-sm-2'>
      <button type='button' name='" + data[i]._id + "' class='btn btn-success' data-toggle='modal' data-target='#editModal' id='e-btn'>Edit</button>
    </div>
    <div class='col-sm-2'>" + "
      <button type='button' name='" + data[i]._id + "' class='btn btn-danger' id='d-btn'>" + "Delete </button>
    </div>
  </div>
  Posted by" + data[i].user_name + " at " + data[i].date_created + "
</div>
";