<div id='comment'>
  <div class='row'>
    <div class='col-lg-8'>" + data[i].comment + "</div>
    <div class='col-lg-2'>
      <button type='button' name='" + data[i]._id + "' class='btn btn-success' id='e-btn'>Edit</button>
    </div>
    <div class='col-lg-2'>" + "
      <button type='button' name='" + data[i]._id + "' class='btn btn-danger' id='d-btn'>" + "Delete </button>
    </div>
  </div>
</div>
";