"
<div id='collegewrap'>
  <a href='" + path + "/" + data[i].post_title + "'>
    <div id='contentwrap'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-4'>
            <h3 class='course'>" + data[i].post_title + "</h3>
          </div>
          <div class='col-lg-6'></div>
          <div class='col-lg-2'>
            <div class='row'>
              <div class='col-lg-6'>
                <div class='upVotes'>
                  <img src='/uploads/imgs/ups.png' class='votes'>
                  <h5>" + data[i].up_votes + "</h5>
                </div>
              </div>
              <div class='col-lg-6'>
                <img src='/uploads/imgs/downs.png' class='votes'>
                <div class 'downVotes'>
                  <h5>" + data[i].down_votes + "</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class 'row'>
          <div class='col-lg-8'>
            <h4 class='posts'>" + data[i].post_content + "</h4>
          </div>
          <div class='col-lg-2'></div>
          <div class='col-lg-2'>
            <h6 class='course'>Submitted by : " + data[i].user_name + "</h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>"