"
<div id='collegewrap'>
  <a href='" + path + "/" + data[i].course_code + "'>
    <div id='contentwrap'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-4'>
            <h4 class='course'>" + data[i].course_name + "</h4>
          </div>
          <div class='col-lg-4'></div>
          <div class='col-lg-4'>
            <h4 class='course'>" + data[i].course_code + "</h4>
          </div>
        </div>
        <div>
          <h5>" + data[i].course_leader + "</h5>
        </div>
      </div>
    </div>
  </a>
</div>"