<div id="navwrap">
  {{!-- Wrap for navigating back and forth through pervious pages etc --}}
  <div class="container-fluid pathstyle">

    {{!-- container to hold page name and breadcrumb path --}}
    <div class="row" style="path">

      <div class="col-lg-2">
        {{!-- college --}}
        <a href="/colleges">
          <h1 class="title">Colleges</h1>
        </a>
      </div>


      <div class="col-lg-10">
      </div>
    </div>
  </div>
</div>
</div>

<div id="bottompagewrap">
  <div class="panel-group" id="colleges">
  </div>
</div>
<!-- /pagewrap -->
  <script src="/javascripts/list-colleges.js"></script>