<div id="navwrap">
    <div class="container-fluid pathstyle">

        <div class="row" style="path">

            <div class="col-lg-4">
                {{!-- Page --}}
                <a href="#">
                    <h1 class="title">Your Profile</h1>
                </a>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-2">
                        <a href="#"><h4>Posts</h4></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#"><h4>Comments</h4></a>
                    </div>
                    <div class="col-lg-2">

                        <a href="#"><h4>Messages</h4></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="bottompagewrap" class="">

    <!-- /row -->
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h1 id="username">Username</h1>
                    <h3>Welcome! This is your profile page. You can check up on your messages, posts, comments and more...</h3>
                </div>
                <div class="col-xs-3">
                    <img class="pull right img-responsive img-rounded" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                        style="max-width: 150px" id="profilepic">
                </div>
            </div>
        </div>
    </div>
</div>