<div id="navwrap">
    <div class="container-fluid pathstyle">

        <div class="row" style="path">

            <div class="col-lg-4">
                {{!-- Page --}}
                <a href="#">
                    <h1 class="title">Your Profile</h1>
                </a>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-2">
                        <a href="#"><h4>Posts</h4></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#"><h4>Comments</h4></a>
                    </div>
                    <div class="col-lg-2">

                        <a href="#"><h4>Messages</h4></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="bottompagewrap" class="">


<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 id="username">Username</h1>
        <h3>Welcome! This is your profile page. You can check up on your messages, posts, comments and more...</h3>
      </div>
      <div class="col-xs-3">
        <img class="pull right img-responsive img-rounded" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
          style="max-width: 150px" id="profilepic">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active">
      <a data-toggle="pill" href="#course-pil">Course</a>
    </li>
    <li>
      <a data-toggle="pill" href="#messages-pil">Messages</a>
    </li>
    <li>
      <a data-toggle="pill" href="#posts-pil">Posts</a>
    </li>
    <li>
      <a data-toggle="pill" href="#comments-pil">Comments</a>
    </li>
    <li>
      <a data-toggle="pill" href="#details-pil">Details</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="course-pil" class="tab-pane fade in active">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>
    <div id="messages-pil" class="tab-pane fade">
      <h3>Work in Progress...</h3>
    </div>
    <div id="posts-pil" class="tab-pane fade">
      <br>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="comments-pil" class="tab-pane fade">
      <br>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="details-pil" class="tab-pane fade in active">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>
  </div>
</div>