<div id="navwrap">
  {{!-- Wrap for navigating back and forth through pervious pages etc --}}
  <div class="container-fluid pathstyle">

    {{!-- container to hold page name and breadcrumb path --}}
    <div class="row" style="path">

      <div class="col-lg-2">
        <h2>Courses</h2>
      </div>


      <div class="col-lg-10">
        <div id="sitepathwrap" class="">
          {{!--
          <div class="row"> --}} {{!-- row to hold/generate path and links back --}}
            <ul class="breadcrumb">
              <div class="row">
                <div class="col-lg-3">
                  <div class="container">
                    <li class="item home">
                      <a href="#" title="Get full name of college">
                        <h5 id="collegeAbbr">

                        </h5>
                      </a>
                      
                    </li>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="container">
                    <li class="item home">
                      <a href="#" title="Get full name of college">
                        <h5 id="courseName">

                        </h5>
                      </a>
                      
                    </li>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="container">
                    <li class="item home">
                      <a href="#" title="Get full name of college">
                        <h5 id="moduleCode">

                        </h5>
                      </a>
                      
                    </li>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="container">
                    <li class="item home">
                      <a href="#" title="Get full name of college">
                        <h5 id="postid">
                          {{!-- Name of post displayed --}}
                        </h5>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="bottompagewrap">
  <div class="panel-group" id="post">
  </div>
</div>
