<div id="navwrap">
  <div class="container-fluid pathstyle">
    <div class="row">
      <div class="col-lg-3">
        <a href="/colleges">
          <h2>Colleges</h2>
        </a>
      </div>
      <div id="sitepathwrap" style="path col-lg-9">

        {{!-- path such as name of college(and link back) selected, updated with courses aswell --}}
      </div>
    </div>
  </div>
</div>
<div id="bottompagewrap">
  <div class="panel-group" id="colleges">
  </div>
</div>
<!-- /pagewrap -->